/node_modules
.env
.env.build
*.lock
cypress.json

/*/node_modules
/*/.env
/*/.env.build

/api/node_modules
/api/.env
/api/*.log
/api/.webpack

/web/node_modules
/web/.env
/web/.next
/web/*.lock

/cypress.json
